---
import FormattedDate from "@components/FormattedDate.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const articles = (await getCollection("articles")).sort(
  (a, b) => b.data.index - a.data.index,
);
---

<BaseLayout>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-5">
    {
      articles.map((article) => (
        <div class="max-w-sm overflow-hidden rounded shadow-lg">
          <div>
            <a href={`/articles/${article.slug}/`}>
              <Image src={article.data.cover} alt={article.data.description} loading={"lazy"}/>
              <div class="px-6 py-4">
                <h4 class="mb-2 text-xl font-bold">{article.data.title}</h4>
                <p class="date">
                  <FormattedDate date={article.data.pubDate} />
                </p>
              </div>
            </a>
            {article.data.tags ? (
              <div class="px-6 pb-2 pt-4">
                {article.data.tags?.map((tag) => (
                  <a href={`/tags/${tag}`}>
                    <span class="mb-2 mr-2 inline-block rounded-full bg-gray-200 px-3 py-1 text-sm font-semibold text-gray-700">
                      {tag}
                    </span>
                  </a>
                ))}
              </div>
            ) : null}
            <div class="px-6 pb-2 pt-4" />
          </div>
        </div>
      ))
    }
  </div>
</BaseLayout>
