---
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Prose from "@components/Prose.astro";
import Sidebar from "@components/Sidebar.astro";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"articles">["data"];

const { title, description, cover } = Astro.props;

// キャッシュ設定の定義
const cacheControl = {
  _astro: "public, max-age=31536000, immutable",
};

const currentPage = Astro.url.pathname;

// キャッシュヘッダーの設定
if (currentPage.startsWith("/_astro/")) {
  Astro.response.headers.set("Cache-Control", cacheControl._astro);
}
---

<html lang="ja">
  <head>
    <BaseHead title={title} description={description} cover={cover.src} />
  </head>

  <body class="bg-white dark:bg-black dark:text-white">
    <Header />
    <main
      class="flex flex-col p-5 lg:flex-row lg:justify-between lg:px-52 lg:py-20"
    >
      <article>
        <Prose>
          <h1>{title}</h1>
          <img
            src={cover.src}
            alt={`${title} cover image`}
            loading="lazy"
            decoding="async"
          />
          <slot />
        </Prose>
      </article>
      <Sidebar />
    </main>
    <Footer />
  </body>
</html>
